body {
    display: flex;
    background-color: #1f2774;
    border-radius: 10px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: space-around;
}
h1 {
    text-align: center;
    margin: 16px;
    font-size: 60px;
    color: aqua;
}


.frame {
    display: flex;
    background-color: #1f2774;
    padding-bottom: 100px;
    justify-content: center;
    max-width: 900px;
    border-radius: 10px;
}
.form{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    border-radius: 10px;
    
}
.small_frame{
    display: flex;
    background-color: rgb(98, 173, 202);
    width: 440px;
    justify-content: center;
    height: 650px;

    border-radius: 20px;
}
input{
    border-radius: 20px;
    margin: 25px;
    height: 37px;
    width: 300px;
}
label{
    color: rgb(0, 0, 0);
    font-size: 40px;

}
button{
    margin-top:10px;
    width: 130px;
    height: 30px;
    font-size: medium;
}
